# Mengenal Python

## Daftar Isi
* [Struktur Data](#type)
    * [Tuples](#index)
    * [List](#index)
    * [Sets](#index)
    * [Dictionary](#index)

--------------------------

## ==================================

## Struktur Data 

## ==================================

## 1. Tuple

Tuple adalah struktur data yang digunakan untuk menyimpan sekumpulan data yang memiliki sifat *immutable*, artinya elemen data tidak bisa diganti maupun dihapus, namun bisa ditambahkan dengan data baru.

Dalam membuat tuples harus diawali dengan kurung buka dan diakhiri kurung tutup. Antar elemen data satu dengan yang lainnya dipisahkan dengan tanda koma (,) yang dapat diakses menggunakan index. Tuple dapat diisi dengan elemen tipe data apapun dan bisa dengan tipe data yang berbeda.

In [1]:
# membuat tuple
grades = (100, 95, 90, 85, 80, 75, 70, 65, 60)

In [2]:
grades

(100, 95, 90, 85, 80, 75, 70, 65, 60)

In [3]:
# mengetahui panjang elemen tuple
len(grades)

9

In [4]:
# mengetahui type data
type(grades)

tuple

Membuat kumpulan data dengan string, integer, dan float dalam satu tuple.

In [5]:
# Membuat tuple dengan elemen yang berbeda tipe data
tuple1 = ("Alice", 82, 3.8 )
tuple1

('Alice', 82, 3.8)

Membuat tuple dari bentuk struktur data lain

In [6]:
L = ['Hello', "World!"]

In [7]:
type(L)

list

In [8]:
T = tuple(L)

In [9]:
T

('Hello', 'World!')

In [10]:
type(T)

tuple

**Index Tuple** 

Tuple dapat diakses dengan menggunakan index. Index pada tuple dapat digunkan untuk melihat atau memilih elemen pada index tertentu.

#### tuple1 = ("Alice", 82, 3.8 )
<img src = img/tuple1.png>

In [11]:
tuple1[0]

'Alice'

In [12]:
tuple1[1]

82

In [13]:
tuple1[2]

3.8

Sama seperti string, index dapat dilakukan dengan menggunakan index negatif yang artinya melihat atau memilih elemen dari belakang.

#### tuple1 = ("Alice", 82, 3.8 )
<img src = img/tuple2.png>

In [14]:
tuple1[-1]

3.8

In [15]:
tuple1[-2]

82

In [16]:
tuple1[-3]

'Alice'

#### Tuple Concatenation

Tuple concanatenation adalah penambahan elemen pada tuple dengan menggunakan operator (+). Dalam melakukan penambahan, data harus berupa tuple pula.

In [17]:
tuple1 = ("Alice", 82, 3.8 )

In [18]:
tuple2 = tuple1 + ("USA", 25)

In [19]:
tuple2

('Alice', 82, 3.8, 'USA', 25)

#### Tuple Slicing

Tuple slicing adalah melihat atau memilih elemen tuple menggunakan index. 

<code>variabel[m:n]</code>, m < n

artinya akan mengambil suatu karakter yang dimulai dari m dan berakhir pada n-1. Syaratnya adalah n harus lebih besar sama dengan m.

In [20]:
tuple1 = ("Alice", 82, 3.8 )

In [21]:
tuple1[:3]

('Alice', 82, 3.8)

In [22]:
tuple2 [3:]

('USA', 25)

#### Tuple are immutable

Tuple are immutable yaitu elemen data tuple tidak dapat diganti atau dihapus, sama seperti string.

In [23]:
grades = (100, 95, 90, 85, 80, 75, 70, 65, 60)

In [24]:
grades[2] = 80

TypeError: 'tuple' object does not support item assignment

Elemen tuple dapat diurutkan menggunakan method <code>sorted()</code>. Agar output tetap berupa tuple, maka harus disertakan <code>tuple()</code>. Karena jika tidak disertakan, struktur data akan berubah menjadi list.

In [26]:
grades_sorted = tuple(sorted(grades))

In [27]:
grades_sorted

(60, 65, 70, 75, 80, 85, 90, 95, 100)

#### Tuple Nesting

Tuples nesting adalah tuple yang bersarang atau didalam tuple terdapat tuple.

<code>variabel[m][n][...]</code>

artinya akan mencetak elemen dari tuple dengan index m pada variabel dan index m pada elemen berindex n.

<img src = img/tuplenesting.png>

In [28]:
tn = (5, 7, ("Jawa", "Bali"), (2, 11), ("Madura", (5, 7)))

In [29]:
tn[2]

('Jawa', 'Bali')

In [30]:
tn[2][1]

'Bali'

------

## 2. List

List adalah struktur data yang digunakan untuk menyimpan sekumpulan data yang memiliki sifat *mutable*, artinya elemen data bisa diganti maupun dihapus, serta bisa juga ditambahkan dengan data baru.

Dalam membuat list harus diawali dengan kurung siku buka dan diakhiri dengan kurung siku tutup. Antar elemen data satu dengan yang lainnya dipisahkan dengan tanda koma (,) yang dapat diakses menggunakan index. List dapat diisi dengan elemen tipe data apapun dan bisa dengan tipe data yang berbeda.

In [31]:
# membuat list
grades1= [100, 95, 90, 85, 80, 75, 70, 65, 60]

In [32]:
grades1

[100, 95, 90, 85, 80, 75, 70, 65, 60]

In [33]:
# mengetahui panjang elemen list
len(grades1)

9

In [34]:
# mengetahui type data
type(grades1)

list

Membuat kumpulan data dengan string, integer, dan float dalam satu tuple.

In [35]:
# Membuat tuple dengan elemen yang berbeda tipe data
List = ["Alice", 82, 3.8]
List

['Alice', 82, 3.8]

Membuat list dari bentuk struktur data lain

In [36]:
T

('Hello', 'World!')

In [37]:
type(T)

tuple

In [38]:
Lst = list(T)

In [39]:
Lst

['Hello', 'World!']

In [40]:
type(Lst)

list

**Index List** 

List dapat diakses dengan menggunakan index. Index pada list dapat digunkan untuk melihat atau memilih elemen pada index tertentu.

<img src = img/listt1.png>

In [41]:
L[0]

'Hello'

In [42]:
L[1]

'World!'

In [43]:
L[2]

IndexError: list index out of range

Sama seperti string dan tuple, index dapat dilakukan dengan menggunakan index negatif yang artinya melihat atau memilih elemen dari belakang.

In [44]:
L[-1]

'World!'

In [45]:
L[-2]

'Hello'

In [46]:
L[-3]

IndexError: list index out of range

#### List Concatenation

Tuple concanatenation adalah penambahan elemen pada tuple dengan menggunakan operator (+). Dalam melakukan penambahan, data harus berupa list pula.

In [47]:
L = ["Surabaya", 3.4, 1293]

In [48]:
L1 = L + ["USA", 25]

In [49]:
L1

['Surabaya', 3.4, 1293, 'USA', 25]

#### List Slicing

List slicing adalah melihat atau memilih elemen list menggunakan index. 

<code>variabel[m:n]</code>, m < n

artinya akan mengambil suatu karakter yang dimulai dari m dan berakhir pada n-1. Syaratnya adalah n harus lebih besar sama dengan m.

In [50]:
L

['Surabaya', 3.4, 1293]

In [51]:
L[:2]

['Surabaya', 3.4]

In [52]:
L[2:]

[1293]

#### List are mutable

List are mutable yaitu elemen data list dapat diganti atau dihapus, hal ini berbeda dengan string dan tuple.

In [53]:
grades1 = [100, 95, 90, 85, 80, 75, 70, 65, 60]

In [54]:
grades1[2] = 200

In [55]:
grades1

[100, 95, 200, 85, 80, 75, 70, 65, 60]

**List Sorting**

Elemen list dapat diurutkan menggunakan method <code>sorted()</code>.

In [56]:
grades1

[100, 95, 200, 85, 80, 75, 70, 65, 60]

In [57]:
grades_sorted = sorted(grades1)

In [58]:
grades_sorted

[60, 65, 70, 75, 80, 85, 95, 100, 200]

#### List Extending

List extending adalah penggabungan dua list dalam satu list menggunakan method <code>extend()</code>.

In [59]:
L = ["Surabaya", 3.4, 1293]

In [60]:
L1 = ["USA", 25]

In [61]:
L.extend(L1)

In [62]:
L

['Surabaya', 3.4, 1293, 'USA', 25]

#### List Appending

List appending adalah penambahan satu elemen list baru pada akhir suatu list menggunakan method <code>append()</code>.

In [63]:
L

['Surabaya', 3.4, 1293, 'USA', 25]

In [64]:
L2 = L

In [65]:
L2.append(["Semarang", 1972, 2.5])

In [66]:
L2

['Surabaya', 3.4, 1293, 'USA', 25, ['Semarang', 1972, 2.5]]

**Merubah String menjadi List**

Merubah string (berupa kalimat) dirubah menjadi pecahan kata berbentuk list menggunakan method <code>split()</code>.

In [67]:
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [68]:
A = "Stasiun Semarang Tawang adalah salah satu stasiun yang berada di Provinsi Jawa Tengah"

In [69]:
A.split()

['Stasiun',
 'Semarang',
 'Tawang',
 'adalah',
 'salah',
 'satu',
 'stasiun',
 'yang',
 'berada',
 'di',
 'Provinsi',
 'Jawa',
 'Tengah']

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    Lebih banyak method mengenai list, dapat dilihat di link berikut https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range
    

atau menggunakan <code>help(list)</code>
</div>
<hr/>

#### List Deleting

List deleting adalah menghapus elemen list dengan index menggunakan operator <code>del()</code>.

In [70]:
L

['Surabaya', 3.4, 1293, 'USA', 25, ['Semarang', 1972, 2.5]]

In [71]:
L3 = L

In [72]:
del(L3[4:])

In [73]:
L3

['Surabaya', 3.4, 1293, 'USA']

#### List Nesting

List nesting adalah list yang bersarang atau didalam list terdapat list atau tuple.

<code>variabel[m][n][...]</code>

artinya akan mencetak elemen dari list atau tuple dengan index m pada variabel dan index m pada elemen berindex n.

In [74]:
tn = [5, 7, ["Jawa", "Bali"], (2, 11), ["Madura", (5, 7)]]

In [75]:
tn[4]

['Madura', (5, 7)]

In [76]:
tn[4][1]

(5, 7)

------

### 3. Sets (Himpunan)

Sets adalah struktur data yang digunakan untuk menyimpan sekumpulan data yang muteable, tidak mementingkan urutan (sehingga tidak bisa menggunakan index), dan tidak mementingkan pengulangan (sehingga jika ada pengulangan hanya ditulis sekali). Hasil dari set selalu berurutan berdasar kan abjad dan/atau dari angka terkecil.

Dalam membuat set harus diawali dengan kurung kurawal buka dan diakhiri dengan kurung kurawal tutup. Antar elemen data satu dengan yang lainnya dipisahkan dengan tanda koma (,). Set dapat diisi dengan elemen tipe data apapun dan bisa dengan tipe data yang berbeda.

In [77]:
# membuat set dengan pengulangan
grades2 = {100, 95, 90, 85, 80, 75, 70, 70, 70}

In [78]:
# hanya mencetak elemen unik saja
grades2

{70, 75, 80, 85, 90, 95, 100}

In [79]:
# mengetahui panjang elemen set
len(grades2)

7

In [80]:
# mengetahui type data
type(grades2)

set

Membuat kumpulan data dengan string, integer, dan float dalam satu tuple.

In [81]:
# Membuat set dengan elemen yang berbeda tipe data
S = {"Surabaya", 3.4, 1293}

In [82]:
S

{1293, 3.4, 'Surabaya'}

Membuat set dari bentuk struktur data lain

In [83]:
L = ['Hello', "World!"]

In [84]:
type(L)

list

In [85]:
Set = set(L)

In [86]:
Set

{'Hello', 'World!'}

In [87]:
type(Set)

set

Membuat set berbentuk himpunan kosong dengan fungsi <code>set()</code>. Tetapi jangan menggunakan kurung kurawal yang berisi kosong, karena tipe datanya adalah dictionary.

In [88]:
empty = set()

In [89]:
type(empty)

set

In [90]:
empty2 = {}

In [91]:
type(empty2)

dict

#### Set Adding

Set adding adalah penambahan satu elemen set baru pada akhir suatu set menggunakan method <code>add()</code>.

In [92]:
City = {"Depok", "Jakarta Selatan", "Bandung"}

In [93]:
City.add("Bogor")

In [94]:
City

{'Bandung', 'Bogor', 'Depok', 'Jakarta Selatan'}

In [95]:
# jika terdapat penambahan yang sama, data hanya akan diisi satu saja
City.add("Depok")

In [96]:
City

{'Bandung', 'Bogor', 'Depok', 'Jakarta Selatan'}

#### Set Removing

Set Removing adalah menghilangkan elemen pada set menggunakan method <code>remove()</code>.

In [97]:
City

{'Bandung', 'Bogor', 'Depok', 'Jakarta Selatan'}

In [98]:
City.remove("Depok")

In [99]:
City

{'Bandung', 'Bogor', 'Jakarta Selatan'}

#### Set Checking

Set cheking adalah mengecek apakah elemen yang ingin kita cari berada pada set tersebut atau tidak. Dalam hal ini, penggunaan huruf besar dan kecil sangat sensitif dan perlu diperhatikan.

In [100]:
"Bogor" in City

True

In [101]:
"bogor" in City

False

In [102]:
"Depok" in City

False

#### Set Intersection

Set intersection adalah irisan dari dua himpunan.

In [103]:
City

{'Bandung', 'Bogor', 'Jakarta Selatan'}

In [104]:
City2 = {'Bandung', 'Bogor', 'Bekasi'}

In [105]:
City3 = City & City2

In [106]:
City3

{'Bandung', 'Bogor'}

#### Set Union

Set union adalah gabungan dari dua himpunan.

In [107]:
City

{'Bandung', 'Bogor', 'Jakarta Selatan'}

In [108]:
City2 = {'Bandung', 'Bogor', 'Bekasi'}

In [109]:
City4 = City | City2

In [110]:
City4

{'Bandung', 'Bekasi', 'Bogor', 'Jakarta Selatan'}

#### Subet Test

Subset test adalah mengecek atau mengetes apakah subset A berada pada set B.

In [111]:
City

{'Bandung', 'Bogor', 'Jakarta Selatan'}

In [112]:
City3

{'Bandung', 'Bogor'}

In [113]:
City3.issubset(City)

True

In [114]:
# City 4 tidak berada di subset City karena terdapat kota Bekasi pada City 4 yang tidak ada di set City.
City4.issubset(City)

False

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    Lebih banyak method mengenai set, dapat dilihat di link berikut https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset
</div>
<hr/>

### 4. Dictionary (Kamus)

Dictionary adalah struktur data yang digunakan untuk menyimpan sekumpulan data yang berpasangan yang dihubungkan dengan tanda titik dua (:). Pasangan tersebut berisi kunci dan hasil dari kunci tersebut. Kunci sebuah dictionary harus unik dan *immutable* serta posisi kunci dictionary tidak direkam. Sedangkan hasilnya bisa berupa *immutable*, *mutable*, dan duplikat.

Dalam membuat dictionary diawali dengan kurung kurawal buka dan diakhiri dengan kurung kurawal tutup. Antar pasangan data satu dengan yang lainnya dipisahkan dengan tanda koma (,). 

Dictionary mirip seperti list, untuk lebih jelasnya digambarkan pada gambar berikut:

<img src = img/dictionary1.png>

In [115]:
# membuat dictionary
Dict = {"Jakarta": 10.1, "Surabaya": 3.4, "Bogor": 1.1, "Depok": 1.8, 
            "Bandung": 2.5, "Medan": 2.2, "Makassar": 1.4, "Denpasar": 0.9}

In [116]:
Dict

{'Jakarta': 10.1,
 'Surabaya': 3.4,
 'Bogor': 1.1,
 'Depok': 1.8,
 'Bandung': 2.5,
 'Medan': 2.2,
 'Makassar': 1.4,
 'Denpasar': 0.9}

<img src="img/dictionary.png" width="400"/>

In [117]:
# mengetahui panjang elemen dictionary
len(Dict)

8

In [118]:
# mengetahui type data
type(Dict)

dict

Membuat kumpulan data dengan string, integer, dan float dalam satu tuple.

In [119]:
# Membuat set dengan elemen yang berbeda tipe data
Dict1 = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}

In [120]:
Dict1

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

membuat empty dictionary

In [121]:
empty2 = {}

In [122]:
type(empty2)

dict

**Key Dictionary** 

Dictionary dapat diakses dengan menggunakan key. Key pada dictionary dapat digunkan untuk melihat atau memilih elemen pada key tertentu.

<img src="img/dictionary-access1.png" width="300"/>

In [123]:
Dict

{'Jakarta': 10.1,
 'Surabaya': 3.4,
 'Bogor': 1.1,
 'Depok': 1.8,
 'Bandung': 2.5,
 'Medan': 2.2,
 'Makassar': 1.4,
 'Denpasar': 0.9}

In [124]:
Dict["Surabaya"]

3.4

In [125]:
Dict["Depok"]

1.8

#### Dictionary Adding

Dictionary adding adalah penambahan satu elemen dictionary baru pada akhir suatu dictionary.

In [126]:
Dict["Ambon"] = 0.4

In [127]:
Dict

{'Jakarta': 10.1,
 'Surabaya': 3.4,
 'Bogor': 1.1,
 'Depok': 1.8,
 'Bandung': 2.5,
 'Medan': 2.2,
 'Makassar': 1.4,
 'Denpasar': 0.9,
 'Ambon': 0.4}

In [128]:
# hasil dari key dapat immutable atau bisa diganti/dirubah
Dict["Ambon"] = 0.5

In [129]:
Dict

{'Jakarta': 10.1,
 'Surabaya': 3.4,
 'Bogor': 1.1,
 'Depok': 1.8,
 'Bandung': 2.5,
 'Medan': 2.2,
 'Makassar': 1.4,
 'Denpasar': 0.9,
 'Ambon': 0.5}

#### Dictionary Removing

Dictionary removing adalah menghilangkan elemen pada suatu dictionary menggunakan operasi <code>del()</code>.

In [130]:
Dict

{'Jakarta': 10.1,
 'Surabaya': 3.4,
 'Bogor': 1.1,
 'Depok': 1.8,
 'Bandung': 2.5,
 'Medan': 2.2,
 'Makassar': 1.4,
 'Denpasar': 0.9,
 'Ambon': 0.5}

In [131]:
del(Dict["Surabaya"])

In [132]:
Dict

{'Jakarta': 10.1,
 'Bogor': 1.1,
 'Depok': 1.8,
 'Bandung': 2.5,
 'Medan': 2.2,
 'Makassar': 1.4,
 'Denpasar': 0.9,
 'Ambon': 0.5}

#### Dictionary Checking

Dictionary cheking adalah mengecek apakah elemen yang ingin kita cari berada pada dictionary tersebut atau tidak. Dalam hal ini, penggunaan huruf besar dan kecil sangat sensitif dan perlu diperhatikan.

In [133]:
"Ambon" in Dict

True

In [134]:
"ambon" in City

False

In [135]:
"Surabaya" in City

False

#### Menampilkan seluruh key

Menampilkan seluruh key pada suatu dictionary menggunakan method <code>keys()</code>. Hasilnya dapat dirubah menjadi struktur data list.

In [136]:
Dict.keys()

dict_keys(['Jakarta', 'Bogor', 'Depok', 'Bandung', 'Medan', 'Makassar', 'Denpasar', 'Ambon'])

In [137]:
# merubah menjadi struktur data list
list(Dict.keys())

['Jakarta',
 'Bogor',
 'Depok',
 'Bandung',
 'Medan',
 'Makassar',
 'Denpasar',
 'Ambon']

#### Menampilkan seluruh hasil

Menampilkan seluruh hasil pada suatu dictionary menggunakan method <code>values()</code>. Hasilnya dapat dirubah menjadi struktur data list.

In [138]:
Dict.values()

dict_values([10.1, 1.1, 1.8, 2.5, 2.2, 1.4, 0.9, 0.5])

In [139]:
# merubah menjadi struktur data list
list(Dict.values())

[10.1, 1.1, 1.8, 2.5, 2.2, 1.4, 0.9, 0.5]

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    Lebih banyak method mengenai dictionary, dapat dilihat di link berikut https://docs.python.org/3/library/stdtypes.html#mapping-types-dict
</div>
<hr/>

Semoga Bermanfaat :)

Terimakasih

------